@import '@/theme.scss';

input[type=range].is-primary {
    &::-webkit-slider-runnable-track
    {
        background-color: $primary !important;
    }
    
    &::-moz-range-track
    {
        background-color: $primary !important;
    }

    &::-ms-track
    {
        background-color: $primary !important;
    }
}

.flip-list-move {
    transition: transform .5s;
}